@import "variables";
/*
 *
 *= require_self
 */

body {
  background-color: $brand-grey;
  margin: 0;
  font-family: $brand-font;
  
  #main {
    padding: 70px;
  }
}

nav {
  background-color: #fff;
  padding: 30px;
  
  .nav-container{
    padding-left: 20px;
  }
  
  li {
    display: inline;
    padding: 10px;
  }
  
  a {
    color: $brand-color;
    text-decoration: none;
    font-size: 20px;
  }
}